---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button.tsx";
---

<Layout title="このブログについて">
  <main>
    <div class="container my-8 w-full max-w-[1000px]">
      <h1 class="text-3xl font-bold">このブログについて</h1>
      <div class="mt-6">
        <Button>ホーム</Button>
      </div>
    </div>
  </main>
</Layout>
