---
import Layout from '@/layouts/Layout.astro';
import { getEntry } from 'astro:content';
const aboutPost = await getEntry('about', 'index');
const { Content } = await aboutPost.render();
---

<Layout title={aboutPost.data.title}>
  <main>
    <div class="container mb-20 mt-8 w-full max-w-[1000px]">
      <section>
        <h1 class="text-3xl font-bold">{aboutPost.data.title}</h1>
        <p class="mt-2 text-muted-foreground">
          {aboutPost.data.publishedAt} 更新
        </p>
        <div class="prose prose-slate mt-6">
          <Content />
        </div>
      </section>
    </div>
  </main>
</Layout>
