---
import Layout from "@/layouts/Layout.astro";
import BlogCard from "@/components/BlogCard.astro";
import { getBlogs } from "@/services/blogs";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";

const title = SITE_TITLE;
const response = await getBlogs();
---

<Layout title={title} isHome>
  <div class="container my-8 w-full max-w-[1000px]">
    <h1 class="text-center text-3xl font-bold">
      <div class="mb-4 text-7xl">&#128640;</div>
      {title}
    </h1>
    <div class="mt-2 text-center text-sm text-muted-foreground">
      {SITE_DESCRIPTION}
    </div>
    <div class="mt-10 space-y-4">
      {response.contents.map((content) => <BlogCard content={content} />)}
    </div>
  </div>
</Layout>
